
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.task-app-content{
    display: flex;

}
.task-app-content aside{
    width: 30%;
}
.task-app-content section{
    width: 70%;
}

