


*{
    box-sizing: border-box;
}
body, html {
    padding: 0;
    margin: 0;
    font-family: Roboto,'sans-serif';
}

input:not([type="submit"]){
    margin-bottom: 8px;
    border: 1px solid #9e9e9e;
    background-color: #e8eaed;
    height: 32px;
    padding: 15px 15px;
    width: 100%;
    font-size: 16px;
}

input::-webkit-input-placeholder {
    font-size: inherit;
    color: #444;
    text-align: left;
}

input:-moz-placeholder {
    font-size: inherit;
    color: #444;
    text-align: left;
}

input::-moz-placeholder {
    font-size: inherit;
    color: #444;
    text-align: left;
    padding-left: 10px;
}

input:-ms-input-placeholder {
    font-size: inherit;
    color: #444;
    text-align: left;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent !important;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    color: transparent !important;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: transparent !important;
}
textarea {
    margin-bottom: 12px;
    border: 1px solid #9e9e9e;
    background-color: #e8eaed;
    height: 80px;
    max-height: 115px;
    padding: 10px 12px;
    max-width: 100%;
    resize: none;
}
textarea::-webkit-input-placeholder {
    font-size: inherit;
    color: #444;
    text-align: left;
}

textarea:-moz-placeholder {
    font-size: inherit;
    color: #444;
    text-align: left;
}

textarea::-moz-placeholder {
    font-size: inherit;
    color: #444;
    text-align: left;
    padding-left: 10px;
}

textarea:-ms-input-placeholder {
    font-size: inherit;
    color: #444;
    text-align: left;
}

[type="button"] {
    border: 1px solid #444444;
    background: #848486;
    color: #e8eaed;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    padding: 0 10px;
    display: inline-block;
    text-align: center;
    outline: none;
    height: auto;
    cursor: pointer;
}
    
.container{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.task-app-content{
    display: flex;
    flex: 1;
    margin-bottom: 20px;
}

.task-app-content aside{
    width: 320px;
    flex-shrink: 0;
    background-color: #ffcb2b;
    padding: 15px;
}

.task-app-content section{
    background-color: #202124;
    color:#fff;
    padding: 15px 30px;
    flex-grow: 1;
}

.task-chapter__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.task-chapter__title {
    font-size: 21px;
}
.task-chapter__tools svg {
    width: 15px;
    padding-right: 0px;
    max-width: 20px;
    margin-left: 15px;
    color: #979798;
}

.task-item-list{
    display: flex;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
}
.task-item{
    border-color: #5f6368;
    width: calc(25% - 15px);
    margin-right: 7.5px;
    margin-left: 7.5px;
    min-height: 100px;
    background-color: #202124;
    border: 2px solid #5f6368;
    padding: 15px;
   margin-bottom: 15px;
 
}

.task-item__title {
    color: #e8eaed;
    cursor: pointer;
    font-size: 21px;
    padding-bottom: 5px;
}
.task-item__tools {
    padding-top: 15px;
}
.task-item__tools svg {
    width: 12px;
    margin-right: 15px;
    color: #979798;
}
.menu-page, .menu-task{
    padding-left: 0;
    list-style-type: none;
}
.menu-page li , .menu-task li {
    padding: 15px;
    display: flex
}
.menu-page a , .menu-task a {
    color: #202124;
    text-decoration: none;
    display: inline-flex;
    width: 100%;
    align-items: center;
}
.menu-page li  svg, .menu-task li  svg{
    width: 20px;
    margin-left: 15px;

}
.menu-page li  a svg, .menu-task li a svg{
    width: 20px;
    margin-right: 30px;
    margin-left: 0;

}


/* form*/
.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #313235;
    width: 100%;
    max-width: 400px;
    color: #e8eaed;
    padding: 25px;
    z-index: 100;
}
p.form-title {
    font-size: 21px;
}
.form-add-task-caption__footer {
    text-align: right;
}
    
.form  [type="button"]   {
    margin: 5px;
}  
   
.form-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.54);
    background: rgb(185 184 182 / 90%);
    -webkit-filter: initial;
            filter: initial;
    top: 0;
    left: 0;
}


